<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestingGitHub2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F2816981EA26F7D00E51C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2816AC1EA26F7D00E51C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2816B71EA26F7D00E51C8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
